#graph {
    height: 95vh;
}

#config {
    position: absolute;
    bottom: 0;
    left: 0;
}

#hierarchicalConfig {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
}

#modeCtrl,
#langCtrl,
#layoutCtrl,
#gtypeCtrl,
#resetBtn {
    visibility: hidden;
}

#loadingCard {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}