<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ static_url('css/custom.css') }}">
    <title>naruhodo viewer</title>
    <link rel="icon" href="{{ static_url('img/icon.png') }}">

    <!-- vis.js CSS&JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css">
    <script src="{{ static_url('js/pace.min.js') }}"></script>
    <link href="{{ static_url('css/pace-theme.css') }}" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <button id="helpBtn" type="button" class="btn btn-warning btn-xs" data-toggle="popover" data-trigger="hover" title="Toggle help" data-content="Click here to toggle help popup windows." data-placement="auto">?</button>
                    </span>
                    <input type="text" class="form-control" id="inputBox" placeholder="Add text to the graph" data-toggle="popover" data-trigger="hover" title="Input bar" data-content="If 'mode' is set to 'Text', type text here to add it to the graph. If 'mode' is set to 'Url', type url of the webpage to add the content of the webpage to the graph."
                        data-placement="auto">
                    <span class="input-group-addon">
                        <button id="addBtn" type="submit" class="btn btn-danger btn-xs" data-toggle="popover" data-trigger="hover" title="Add button" data-content="Click here to add the content in input bar to graph." data-placement="auto">ADD</button>
                    </span>
                </div>
                <div id="graph" data-toggle="popover" data-trigger="hover" title="Graph viewer" data-content="This place is where your semantic graph gets visualized." data-placement="auto"></div>
            </div>
            <div id="config" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group-vertical" role="group">
                    <div class="btn-group" role="group">
                        <div class="btn-group" role="group">
                            <button type="button" id="gtypeCtrl" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                KSG
                            </button>
                            <div class="dropdown-menu" aria-labelledby="gtypeCtrl">
                                <button type="button" id="gtypeCtrl-ksg" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Knowledge structure graph" data-content="Click here to change the graph mode to 'KSG', the knowledge structure graph." data-placement="auto">KSG</button>
                                <button type="button" id="gtypeCtrl-dsg" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Dependency structure graph" data-content="Click here to change the graph mode to 'DSG', the dependency structure graph." data-placement="auto">DSG</button>
                            </div>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="modeCtrl" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Text
                            </button>
                            <div class="dropdown-menu" aria-labelledby="modeCtrl">
                                <button type="button" id="modeCtrl-text" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Text mode" data-content="Click here to change the add mode to 'Text'." data-placement="auto">Text</button>
                                <button type="button" id="modeCtrl-url" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Url mode" data-content="Click here to change the add mode to 'Url'." data-placement="auto">Url</button>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" id="langCtrl" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Japanese
                        </button>
                        <div class="dropdown-menu" aria-labelledby="langCtrl">
                            <button type="button" id="langCtrl-ja" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Japanese" data-content="Click here to change the target language to Japanese." data-placement="auto">Japanese</button>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" id="layoutCtrl" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Force-directed
                        </button>
                        <div class="dropdown-menu" aria-labelledby="layoutCtrl">
                            <button type="button" id="layoutCtrl-force" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Force-directed layout" data-content="Click here to change the layout mode of the graph to 'Force-directed'." data-placement="auto">Force-directed</button>
                            <button type="button" id="layoutCtrl-hierarchical" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Hierarchical layout" data-content="Click here to change the layout mode of the graph to 'Hierarchical'." data-placement="auto">Hierarchical</button>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" id="clusterCtrl" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Clustering
                        </button>
                        <div class="dropdown-menu" aria-labelledby="clusterCtrl">
                            <button type="button" id="clusterCtrl-synonym" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Cluster by synonym" data-content="Click here to cluster nodes that are in the same synonym group." data-placement="auto">Synonym</button>
                            <button type="button" id="clusterCtrl-coreference" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Cluster by coreference" data-content="Click here to cluster nodes that share the same coreference antecedent." data-placement="auto">Coreference</button>
                            <button type="button" id="clusterCtrl-meaningless" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Cluster by meaningless" data-content="Click here to cluster nodes that points to meaningless nodes into the meaningless nodes."
                                data-placement="auto">Meaningless</button>
                            <button type="button" id="clusterCtrl-clusterall" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Make all clusters" data-content="Click here to make all available clusters at once." data-placement="auto">ClusterAll</button>
                            <button type="button" id="clusterCtrl-openall" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Open all clusters" data-content="Click here to open all clusters at once." data-placement="auto">OpenAll</button>
                        </div>
                    </div>
                    <button type="button" id="stableBtn" class="btn btn-secondary" data-toggle="popover" data-trigger="hover" title="Stablize button" data-content="Click here to stablize the graph(may take several minutes depending on the size of the graph)." data-placement="auto">Stablize</button>
                    <button type="button" id="rescaleBtn" class="btn btn-secondary" data-toggle="popover" data-trigger="hover" title="Rescale button" data-content="Click here to rescale the graph to fit screen size." data-placement="auto">Rescale</button>
                    <button type="button" id="resetBtn" class="btn btn-secondary" data-toggle="popover" data-trigger="hover" title="Reset button" data-content="Click here to reset the graph. This will clear all contents in the graph viewer." data-placement="auto">Reset</button>
                    <button type="button" id="setBtn" class="btn btn-light" data-toggle="popover" data-trigger="hover" title="Setting button" data-content="Click here to toggle settings memu." data-placement="auto">Settings</button>
                </div>
            </div>
        </div>
        <div id="hierarchicalConfig" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group-vertical" role="group">
                <div class="btn-group" role="group">
                    <button type="button" id="layoutDirectionCtrl" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                RL
                        </button>
                    <div class="dropdown-menu" aria-labelledby="layoutDirectionCtrl">
                        <button type="button" id="layoutDirectionCtrl-UD" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Up-Down direction" data-content="Click here to change hierarchical direction to Up-Down." data-placement="auto">UD</button>
                        <button type="button" id="layoutDirectionCtrl-DU" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Down-Up direction" data-content="Click here to change hierarchical direction to Down-Up." data-placement="auto">DU</button>
                        <button type="button" id="layoutDirectionCtrl-LR" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Left-Right direction" data-content="Click here to change hierarchical direction to Left-Right." data-placement="auto">LR</button>
                        <button type="button" id="layoutDirectionCtrl-RL" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Right-Left direction" data-content="Click here to change hierarchical direction to Right-Left." data-placement="auto">RL</button>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="layoutSortCtrl" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Directed
                            </button>
                    <div class="dropdown-menu" aria-labelledby="layoutSortCtrl">
                        <button type="button" id="layoutSortCtrl-hubsize" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="HubSize sort method" data-content="Click here to change hierarchical sort method to 'hubsize'." data-placement="auto">HubSize</button>
                        <button type="button" id="layoutSortCtrl-directed" class="dropdown-item btn" data-toggle="popover" data-trigger="hover" title="Directed sort method" data-content="Click here to change hierarchical sort method to 'directed'." data-placement="auto">Directed</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="loadingCard" style="width: 18rem;">
            <img src="{{ static_url('img/loading.gif') }}">
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <script>
        var server_addr = "{{ server }}";
    </script>
    <script src="{{ static_url('js/custom.js') }}"></script>
</body>

</html>